body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    background: pink;
    border: 5px dashed black;
    width: 1000px;
    height: 500px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item{
    height: 100px;
    width: 30%;
    flex: 0 1 auto;
    background-color: skyblue
}

.flex-item:nth-child(odd){
    background: tomato;
}

