body{
    margin: 0; 
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    /* 5st rader på template-rows, se template-area för att förstå" */
    grid-template-rows: 25% 20% 20% 20% 15%;
    grid-template-areas: 
    "title title title"
    "main header header"
    "main small aside"
    "main news aside"
    "footer footer footer"

}

.title{
    grid-area: title;
    background: skyblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    grid-area: header;
    background: lightcoral;
}

.main-content{
    grid-area: main;
    background: lightgreen;
}

aside{
    grid-area: aside;
    background: yellow;
}

.small{
    grid-area: small;
    background: turquoise;
} 

.news{
    grid-area: news;
    background: lightgray;
} 

footer{
    grid-area: footer;
    background: tomato;
    text-align: center;
}



/* Exempel på responsive */
@media screen and (max-width: 800px){
    .container{
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: 
            "title title"
            "main header"
            "main small"
            "main news"
            "footer footer"
    }
    /* Aside ska inte vara med när skärmen blir för liten */
    aside{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .container{
        grid-template-columns: 1fr; 
        grid-template-rows: 10% 50% 15% 15% 10%;
        grid-template-areas: 
            "header"
            "main"
            "small"
            "news"
            "footer"
    }
    .title{
        display: none;
    }
}







